.main{
    width: 100% ;
    height: calc(100vh - 60px);
    
    
}
.main::before{
    content: "";
        
    position: absolute;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    background: url(../img/godot_background.png) center/cover no-repeat;
    filter: blur(6px);
    z-index: -2;
}

.main__text{
    width: 100%;
    height: 100%;
    font-size: 96px;    
    line-height: 89%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.62);
    margin: 0 auto;
    font-weight: bloder;
}

.content__container{
    
    padding: 0 250px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 250px;
    background: #6E7AB4;
    border-radius: 5px;
    margin-bottom: 65px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    padding: 10px;
    transition: all 0.3s;
}

.article:hover .title,
.article:hover .text{
    color: #F6C6B8;
}

.article:active{
    background-color: #445599;
}

.title{
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #D0CCE3;
    transition: all 0.3s;
    margin-bottom: 10px;
    /* margin-top: 105px; */
}



.text{
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #D0CCE3;
    transition: all 0.3s;   
}